<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid 19 Tracking System - Deaths</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- CSS only -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
    <link rel="icon" type="image/ico" href="../../favicon.ico" />

    <!-- Custom fonts for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <script src="https://use.fontawesome.com/68f3d5ab8b.js"></script>
</head>

<body>
<!-- An Overall container -->
<div class="container">
    <!-- A little bit about the application-->
    <h2>Covid-19 Tracking application &nbsp; <span style="float: right; font-size: small;" th:text="${thedate}"></span></h2>
    <p>This application keep a track of the Covid confirmed cases  <span style="float: right;">
       <a th:href="@{/v1/cases/confirmed}"><span style="color: #C6994B;">Confirmed</span></a> &sdot; &nbsp; &nbsp; &nbsp;
        <a th:href="@{/v1/cases/recovered}"><span style="color: #76EF6D;">Recoveries</span></a> &sdot; &nbsp; &nbsp; &nbsp;
        <a th:href="@{/v1/cases/deaths}"><span style="color: #DB0F0F;">Deaths</span></a>
    </span></p>


    <!-- How about the current confirmed Cases?-->
    <div class="jumbotron">
        <h1 class="display-4" th:text="${allDeathsCases}">0</h1>
        <p class="lead">Total Global Death Cases</p>
        <hr class="my-4">
        <p class="lead">Total New Death Cases today <span th:text="${allDeathsCasesToday}"></span></p>
    </div>

    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>New Deaths</th>
            <th>Total Deaths</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="statistic : ${statistics}">
            <td th:text="${statistic.state}"></td>
            <td th:text="${statistic.country}"></td>
            <td th:text="${statistic.newDeaths}"></td>
            <td th:text="${statistic.allDeaths}">0</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">Confirmed</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Kipng'etich Victor Lang'at 2020. All Rights Reserved.</p>
            </div>


            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="https://web.facebook.com/viktrine.lnt/">
                            <i class="fa fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="https://twitter.com/ViktrineLnt">
                            <i class="fa fa-twitter fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/viktrine_lnt/">
                            <i class="fa fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>

<!-- JS, Popper.js, and jQuery -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>